.list-container{
    display: flex;
}
.list-container ul{
    list-style: none;
}

.taskColumn{
    margin: 10px;
    width: 350px;
    min-width: 150px;
}

.taskCard {
    padding: 1em;
    border: 2px solid black;
    background-color: #fff;
    margin-bottom: .5em;
    word-wrap: break-word;
    max-width: 500px;
    position: relative;
}


.taskCard p{
    margin: 0;
}

.taskCard .deleteButton{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-top: -0.3em;
}

.labelWrapper{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
}

.label{
    background-color: #fff;
    padding: .3em;
    margin: .2em .3em .5em .1em;
    border-radius: 5px;
    font-size: .7em;
    font-weight: normal;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85px;
}


.taskCard-worker{
    color: #949494;
    font-size: 0.8em;
}

.column{
    border: 2px dashed gray;
    padding: 1em;
}