/* .list-container ul{
    display: flex;
    margin: 5em;
    max-width: 960px;
    align-items: center;
    list-style: none;
} */

.list-container ul{
    list-style: none;
}

.taskCard {
    padding: 1em;
    border: 2px solid black;
    background-color: #fff;
    width: 300px;
    margin-bottom: .5em;
}

.list-container div{
    min-width: 5vw;
    margin-left: 2vw;
    padding-left: auto;
    padding-right: auto;
    /* padding-top: 5vw;
    padding-bottom: 5vw; */
    min-height: 30vh;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
}

.taskCard-worker{
    color: #949494;
    font-size: 0.8em;
}

.con{
    border: 2px dashed gray;
}