.nav-container{
    background-color: #343A40;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    color: #fff;
}

.nav-container ul{
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
    list-style: none;
}

.page-title{
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2em;
}
.page-title a{
    color: #fff;
    text-decoration: none;
}

/* .nav-container button, .nav-container a{
    margin-left: 16px;
} */

.buttonLink{
    border: 1px solid #fff;
    padding: 5px;
    width: 60px;
}

.buttonLink:last-child{
    margin-left: 16px;
}
.buttonLink a{
    color: #fff;
    text-decoration: none;
}

.logo{
    height: auto;
    width: 20px;
    margin-right: 5px;
    padding-top: 5px;
}