body{
  min-width: 350px;
}

.App {
  text-align: center;
}

.button-light{
  border: 1px solid #fff;
  background-color: unset;
  padding: 5px;
  color: #fff;
  text-decoration: none;
}
.button-light:hover{
  background-color: #fff;
  color: #343A40;
  cursor: pointer;
}

.button-dark{
  border: 1px solid #343A40;
  background-color: #343A40;
  padding: 5px;
  margin: 3px;
  color: #fff;
}
.button-dark:hover{
  background-color: #fff;
  color: #343A40;
  cursor: pointer;
}

.button-danger{
  border: 1px solid #D32F2F;
  background-color: #D32F2F;
  padding: 5px;
  margin: 3px;
  color: #fff;
}
.button-danger:hover{
  background-color: #fff;
  color: #D32F2F;
  cursor: pointer;
}